<h1>FeedMe</h1>
<h2>Find a chef or become their own</h2>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" checked> Freelancer
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2"> Agency
  </label>
</div>
